<div class="home-container dds__d-flex">
    <div class="filter-container dds__mt-5 dds__w-25">
        <button type="button" class="dds__btn dds__btn-primary dds__btn-block dds__text-truncate"
            routerLink="/registration">Register Animal</button>
        <button type="button" class="dds__btn dds__btn-primary dds__btn-block dds__text-truncate"
            routerLink="/search">Search Animal</button>
        <h5 class="dds__ml-3 dds__mt-3 dds__h5">Species</h5>
        <ul class="dds__list-group dds__list-group-unstyled dds__ml-5">
            <li class="dds__list-group-item-unordered"><button class="dds__btn-link dds__text-truncate"
                    (click)="getAllAnimals()">All</button></li>
            <li class="dds__list-group-item-unordered"><button class="dds__btn-link dds__text-truncate"
                    (click)="getAnimalsBySpecie('MAMMAL')">Mammal</button></li>
            <li class="dds__list-group-item-unordered"><button class="dds__btn-link dds__text-truncate"
                    (click)="getAnimalsBySpecie('BIRD')">Bird</button></li>
            <li class="dds__list-group-item-unordered"><button class="dds__btn-link dds__text-truncate"
                    (click)="getAnimalsBySpecie('FISH')">Fish</button></li>
            <li class="dds__list-group-item-unordered"><button class="dds__btn-link dds__text-truncate"
                    (click)="getAnimalsBySpecie('REPTILE')">Reptile</button></li>
        </ul>
        <div class="filter-weight dds__mt-3 dds__mb-3">
            <h5 class="dds__h5 dds__ml-3">Filter by weight</h5>
            <div class="dds__form-group dds__ml-4"> <label for="name-3">Min. weight</label> <input type="text"
                    class="dds__form-control" placeholder="ex: 1.0" maxlength="256" name="minWeight" id="name-3"
                    #minWeight>
            </div>
            <div class="dds__form-group dds__ml-4"> <label for="name-3">Max. weight</label> <input type="text"
                    class="dds__form-control" placeholder="ex: 5.0" maxlength="256" name="maxWeight" id="name-3"
                    #maxWeight>
            </div>
            <button role="button" type="button" class="dds__btn dds__btn-primary dds__text-truncate dds__ml-4"
                (click)="getAnimalsByWeightRange(minWeight.value, maxWeight.value)">Search</button>
        </div>
        <div class="delete-container dds__my-4">
            <h5 class="dds__h5 dds__ml-3">Delete by ID</h5>
            <div class="dds__form-group dds__ml-4"> <label for="name-3">Animal ID</label> <input type="text"
                    class="dds__form-control" placeholder="ex: 1" maxlength="10" name="animalId" id="animalId"
                    #animalId>
            </div>
            <button role="button" type="button" class="dds__btn dds__btn-primary dds__text-truncate dds__ml-4"
                (click)="deleteAnimal(animalId.value)">Delete</button>
        </div>
    </div>
    <div class="cards-container dds__mt-5 dds__mb-4 ds__d-inline-flex dds__flex-wrap">
        <div class="card-child dds__d-inline-flex dds__flex-wrap dds__col-sm-12 dds__col-md-6 dds__col-lg-6 dds__col-xl-3 dds__mt-4"
            *ngFor="let item of animals">
            <div class="dds__card-horizontal-bleed"> <img class="dds__card-img-top dds__img-fluid"
                    src="{{ item.imageURL }}" alt="Animal image">
                <div class="dds__card-body">
                    <h5 class="dds__h5 dds__font-weight-bold">{{ item.type }}</h5>
                    <p>Id: {{ item.id }}</p>
                    <p>Name: {{ item.name }}</p>
                    <p *ngIf="item.dateOfBirth ;else DoB">Date of birth: {{ item.dateOfBirth }}</p>
                    <p>Gender: {{ item.gender }}</p>
                    <p>Weight: {{ item.weight }} kg</p>
                    <ng-template #DoB>
                        <p>Date of Birth: Unknown</p>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>