.home-container {
    margin-left: 10%;
    margin-right: 10%;
}

.filter-container {
    background-color: #bebebe;
    min-width: 245px;
    max-width: 245px;
    max-height: 100%;
    min-height: 500px;
}

.cards-container {
    width: 100%;
    background-color: #eeeeee;
    padding: 0 40px;
    min-height: 500px;
    
}

.card-child {
    max-width: 299.7px;
    min-width: 299.7px;
}

.dds__card-img-top {
    object-fit: cover;
    height: 267.69px;
    width: 267.69px;
}

.dds__card-body {
    min-height: 205px;
}

.dds__form-control {
    width: 150px;
}