<header class="accessibility-bar-container dds__d-flex dds__flex-row dds__justify-content-end">
    <ul>
        <div class="dds__d-inline-flex"><input id="increase-size" type="image" src="../../../assets/icons/dds__add-cir.svg" alt="increase font" (click)="changeFontSize('increase-font')"></div>
        <div class="dds__d-inline-flex"><input id="default-size" type="image" src="../../../assets/icons/dds__reset.svg" alt="default font size" (click)="changeFontSize('default-font')"></div>
        <div class="dds__d-inline-flex"><input id="decrease-size" type="image" src="../../../assets/icons/dds__remove-cir.svg" alt="decrease font" (click)="changeFontSize('decrease-font')"></div>
    </ul>
</header>