.form-container {
    margin-left: 10%;
    margin-right: 10%;
}

.form-child {
    background-color: #eeeeee;
    margin: auto;
    width: 100%;
    height: 100%;
}

.formInput {
    display: inline-flex;
    flex-wrap: wrap;
    margin-left: 10%;
    margin-right: 5%;
}

#form-gender {
    width: 100px;
}

.inputEdit {
    width: 400px;
}

.action-btn {
    width: 800px;
}

.radio-btn {
    display: inline-flex;
    justify-content: center;
    width: 400px;
}

